/*google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/*general styles*/
html, body {
    height: 100vh;
}
body {
    display: flex;
    flex-direction:column;
    justify-content: space-between;
}
h1, h2, h3, h4 {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}
p, li {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}
figcaption {
    font-family:"Roboto", sans-serif;
    font-weight: 300;
    font-style:italic;
    font-size:smaller;
}

a {
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    color: #000000;
}

/*header and navigation*/

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    justify-content: space-between;
    background-color: #ffffff;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    text-align: center;
}
header h1 a {
    text-decoration: none;
    color: #000000;
}
nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem; 
    list-style-type: none;
}
nav ul li {
    position: relative;
    padding-left: 2rem; 
    padding-right: 2rem;
}
nav ul li a {
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal; 
    color:#000000;
}

nav ul li a:hover {
    background-color: #cad0f7;
    font-weight: 400;
}

/*drop down menu*/
nav ul ul {
    position: absolute;
    top: 100%;
    left: 0; 
    display: none;
}
nav ul ul li {
    display: block;
}

nav li:hover ul {
    display:block;
    text-align: left;
}
nav ul ul li a:hover {
    background-color: #cad0f7;
    font-weight: 400;
}

/*main*/
main {
    max-width: 60%;
    padding-top:20ch;
    margin:auto;
    text-align: justify;
}

/*footer*/
footer {
    margin-top: 5ch;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    left: 0;
    bottom: 0;
    width: 100%;
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.25);
}
/*utilities*/

/*specific styling*/

/*contact form*/
/*contact form was created with the help of w3schools*/

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: #ffffff;
    color: #000000;
    padding: 12px 20px;
    border: solid;
    border-width: 1px;
    cursor: pointer;
    font-family:"Roboto", sans-serif;
    box-shadow: 4px 4px #000000;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color: #000000;
    color:#ffffff;
    border-color: #000000;
  }

/*download button*/

.download button {
    background-color: #ffffff;
    color: #000000;
    padding: 1.5ch;
    border: solid;
    border-width: 1px;
    cursor: pointer;
    font-family:"Roboto", sans-serif;
    box-shadow: 4px 4px #000000;
}
.download button:hover {
    background-color: #000000;
    color:#ffffff;
    border-color: #000000;
    font-family:"Roboto", sans-serif;
}

/*containers*/
.container {
    display: flex;
    justify-content: space-between;
}
/*container-two and three are for the box links on the portfolio page*/
.container-two {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    gap: 20px;
}
.container-three {
    border: solid;
    border-width: 1px;
    padding: 3ch;    
}
/*minis*/
.layout {
    width: 100%;
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
  }  
  
.container-four {
    border: solid;
    border-width: 1px;
    padding: 3ch;  
    height: 20rem;
    width: 20rem;
}

/*link animations*/
.link-animations {
    transition: transform 2s;
}
.link-animation:hover {
    transform: scale (1.5);
}
/*skip buttons*/
.skip {
    background-color: #ffffff;
    color: #000000;
    padding: 1.5ch;
    border: solid;
    border-width: 1px;
    cursor: pointer;
    font-family:"Roboto", sans-serif;
    box-shadow: 4px 4px #000000;
}
.skip:hover {
    background-color: #000000;
    color:#ffffff;
    border-color: #000000;
    font-family:"Roboto", sans-serif;
}


/*case study boxes*/
.box {
    border: solid;
    border-width: 1px;
    padding: 3ch;
}

/*homepage*/
.homepage img {
    box-shadow: 5px 5px #000000;
}
.homepage img:hover {
 transition:cubic-bezier(1, 0, 0, 1);
 transform:translate(5px);
 box-shadow: 0 0 0 0;
}

.homepage figcaption {
    text-align: center;
    font-style: normal;
}

/*responsive styling*/